<style type="text/css">
input[type="text"],input[type="Passwords"],input[type="emails"]{
	width: 100%;
    padding: 12px 20px;
    margin: 1px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
input[type="info"], input[type="password"]{
	width: 100%;
    padding: 5px 40px;
    margin: 5px 5px 5px 5px;
    display: inline-block;
    border-radius: 12px;
    border: 2px solid #2c3e50;
    box-sizing: border-box;
}

input[type="Submit"]{
	color: white;
	font-size: 1.0em;
	font-family: Bitter,Georgia,Times,"Times New Roman",serif;
	width: 200px;
        height: 40px;
        background-color:  #2c3e50;
        border: 5px solid ;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border-color: rgb(221,216,212);
        font-weight: bold;
        float: right;
	margin-top: 10px;
}
input[type="Delete"]{
	color: white;
	font-size: 1.0em;
	font-family: Bitter,Georgia,Times,"Times New Roman",serif;
	width: 200px;
        height: 40px;
        background-color: #FF0000;
		border: 5px solid ;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border-color: rgb(221,216,212);
        font-weight: bold;
        float: right;
	margin-top: 10px;
	text-align: center;
}
div#centerpage{
	width: 500px;
	margin: 0 auto;
}
.g-recaptcha{
	padding-top: 10px;
}

.FieldInfo{
	color: #2c3e50;
        font-family: Montserrat;
        font-size: 20;
		font-weight: bold;
	
}
.FieldInfo:hover {
    color: #2c3e50;
}

.FieldInfo2{
	color: #FFFFFF;
        font-family: Montserrat;
        font-size: 20;
		font-weight: bold;
a {text-decoration:none;}


div.message{
	
	border: 2px solid #c0c0c0;
	padding-top: 0.5em;
	color: white;
	font-weight: bold;
	background-color: #dd0000;
	font-size: 1em;
	margin: 0 auto;
	width: 400px;
	height: 40px;
	text-align:center;
	margin-bottom: 1em;	
	
	
}
div.SuccessMessage{
	
	border: 2px solid #c0c0c0;
	padding-top: 0.5em;
	color: white;
	font-weight: bold;
	background-color: #00a600;
	font-size: 1em;
	margin: 0 auto;
	width: 400px;
	height: 40px;
	text-align:center;
	margin-bottom: 1em;	
	
	
}
/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Lora';
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
button#signout {
    background-color: #f44336;
    width: 10%;
    position:absolute; 
    top:0; 
    right:0;
	margin-top: 10px;
    margin-right: 10px;
    

}


</style>